$background-color-alt-img: #151515;
$background-color-overlay-content: rgba(0, 0, 0, 0.5);

$bg-color-tables: rgba(255,255,255,.2);

$bg-color-elements: rgba(191, 19, 117, 0.6);
$bg-color-elements-hovered: rgba(191, 19, 117, 0.8);